* {
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-attachment: local;
    background-color: black;
}

h1 {
    margin-top: 100px;
    font-size: 48px;
    color: #FFD1DC;
    text-align: center;
    font-family: "Poppins";
    text-shadow: 2px 2px 5px #000000;
}

h2 {
    margin: 0;
    font-size: 50px;
    color: white;;
}

h5 {
    color: #af5e40;
    font-size: 22px;
  }

p {
    font-size: 18px;
    color: gray;
}

li {
    color: gray;
}

#skills li {
    padding: 5px;
}

#skills li::marker {
    color: #af5e40;
}

/* HEADER */

header {
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container, .work {
    max-width: 1300px;
}

.container {
    margin: auto;
}

nav {
    display: flex;
    height: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* .nav-img {
    width: 70px;
    
} */

.nav-item a {
    list-style: none;
    color: white;
    text-decoration: none;
}

/* .nav-item a:hover {
    border-bottom: 3px solid #af5e40;
    /* box-shadow: 2px 2px 5px #000000; */
    /* border-bottom */
/* } */ 

nav ul li {
    margin: 10px 20px;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    list-style-type: none;
}


.nav-item {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-right: 15px;
    text-shadow: 2px 2px 5px #000000;
}

.nav-list::after { 
    content: ""; 
    width: 0%; 
    height: 3px; 
    background: rgb(172, 172, 253); 
    position: absolute; 
    left: 0; 
    bottom: -6px; 
    transition: 0.5s; 
  } 
   
  .nav-list:hover::after { 
    width: 100%; 
  }

  .to-top { 
    background: white; 
    position: fixed; 
    bottom: 16px; 
    right: 32px; 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 32px; 
    color: #262626; 
    text-decoration: none; 
    opacity: 0; 
    transition: all .4s; 
    -webkit-tap-highlight-color: transparent; 
  }

  .to-top:hover {
    color: #af5e40;
  }

  .to-top.active { 
    bottom: 35px; 
    pointer-events: auto; 
    opacity: 1; 
  }

/* SECTION */

section {
    background-color: black;
}

.about {
    max-width: 1300px;
    margin: auto;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.about-left {
    width: 30%;
}

.about-photo {
    width: 80%;
    border-radius: 10px;
}

.about-right {
    width: 70%;
 }

.about-right-cell {
    display: flex;
 }

.about-right-cell i {
    align-content: center;
    padding-right: 20px;
    color: #af5e40;
}

.tab {
    overflow: hidden;
    display: flex;
    justify-content: left;
    padding-top: 50px;
  }

/* tab content */

.tab-button {
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    color: gray;
    border: 0;
    margin-right: 20px;
    background-color: inherit;
    cursor: pointer;
}

.tab-page ul {
    padding-left: 20px;
    margin: 10px 0;
}

.tab-page ul li::marker {
    color: #af5e40;
}

.tab-page {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    margin-top: 20px;
}
/*  */

.job-card {
    background: #282828;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.job-card h5 {
    color: #FFD1DC;
    font-size: 20px;
}

.job-card p {
    margin: 5px 0;
    color: #cfcfcf;
}

.job-card ul li {
    margin-bottom: 5px;
    color: #d4d4d4;
}

.job-card:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    background: linear-gradient(145deg, #292929, #343434);
}

.timeline {
    position: relative;
    padding-left: 30px;
    border-left: 2px solid #af5e40;
}

.timeline .event {
    position: relative;
    margin-bottom: 20px;
}

.timeline .event:before {
    content: '';
    position: absolute;
    left: -7px;
    top: 5px;
    width: 14px;
    height: 14px;
    background: #af5e40;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.tab-button:hover {
    color: #af5e40;
} 

.tab-page {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Work content */

.work {
    padding-top: 80px;
    max-width: 1300px;
    margin: auto;
}

.work-table {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-cell {
    max-width: 350px;
    max-height: 450px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.work-cell:hover {
    scale: 1.05;
}

.work-image {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #af5e40);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: bottom 0.3s ease-in-out;
    text-align: center;
  }

.overlay p {
    margin: 0;
    font-size: 18px;
}

.overlay i {
    margin-top: 20px; 
    color: #af5e40;
    border-radius: 50%; 
    background-color: white; 
    line-height: 50px; 
    width: 50px;  
    height: 50px;  
    text-align: center; 
}
  
.overlay button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #ff5252;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
  
.overlay button:hover {
    background: #ff7979;
}
  
.work-cell:hover .overlay {
    bottom: 0;
}

/* Contact content */

.contact {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1300px;
    margin: auto;
    display: flex;
}

.contact-left {
    width: 35%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.contact-left-container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.contact-right {
    width: 70%;
    margin: auto;
}

.contact-icons { 
    margin-top: 30px; 
} 

.contact-icons a { 
    font-size: 30px; 
    margin-right: 15px; 
    color: #ababab;
    transition: transform 0.5s; 
} 

.contact-icons a:hover { 
    color: #af5e40;
    transform: translateY(-5px); 
}

.contact-left p i {
    color:#af5e40;
    font-size: 25px; 
    margin-right: 15px; 
}

.button {
    border: 0;
    font-size: 18px;
    padding: 14px 60px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #af5e40;
    color: white;
}

form input, form textarea {
    width: 100%;
    border: 0;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}

.footer-p {
    width: 100%;
    text-align: center;
    background-color: #262626;
    margin: 0;
    padding: 20px;
}

@media screen and (max-width:800px){
.about-container, .about-left, .about-right {
    display: block;
    margin: auto;
}

.about-photo {
    display: block;
    width: 80%;
    margin: auto;
}

.about-left {
    margin: auto;
    width: 90%;
}

.about-photo {
    margin: auto;
    width: 90%;
    border-radius: 10px;
}

.about-right {
    padding-top: 40px;
    width: 90%;
 }

 .tab {
    justify-content: space-evenly;
  }

.work {
    margin: auto;
    width: 90%;
}

 .work-cell {
    margin: auto;
    width: 100%;
    margin-bottom: 30px;
 }

.contact {
    display: block;
    /* margin: auto; */
}


.contact-left h2 {
    margin: auto;
}

.contact-left {
    width: 90%;
    justify-content: center center;
    margin: auto;
}

.contact-right {
    padding-top: 80px;
    width: 90%;
    margin: auto;
}

.button {
    display: block;
    margin: auto;
}
}